CRV Imagem/urso_conhecimento_func/urso_conhecimento_func.json
{
  "updatedAt": "2026-02-22T20:04:55.000Z",
  "createdAt": "2026-02-20T20:56:41.131Z",
  "id": "Xjl6YkNY4sC1ADoR17uZ1",
  "name": "urso_conhecimento_Func",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Padronizar Dados').item.json.mimeType }}",
                    "rightValue": "document",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "ce3d3673-9933-4d1f-a803-5aaa93ce5d3e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ca8095bf-0d83-419b-9d3a-1071cafde71a",
                    "leftValue": "={{ $('Padronizar Dados').item.json.mimeType }}",
                    "rightValue": "spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        448,
        336
      ],
      "id": "406d682a-624b-4593-bbbb-92c68de5a554",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('Padronizar Dados').item.json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        896,
        240
      ],
      "id": "ce93e541-a6ec-4ec1-8301-35be2884be0b",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "REDACTED_ID",
          "name": "REDACTED_NAME"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Padronizar Dados').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Dados",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        432
      ],
      "id": "8280cbba-848d-4268-8c4f-8fb3530cec9c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REDACTED_ID",
          "name": "REDACTED_NAME"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Captura o nome do arquivo original\nconst fileName = $node[\"Padronizar Dados\"].json[\"name\"]\n\n// Captura o tipo do arquivo original\nconst type = $node[\"Padronizar Dados\"].json[\"mimeType\"];\n\n// Transforma cada linha (item) da planilha\nreturn $input.all().map(item => {\n  const headers = Object.keys(item.json); // Pega todos os nomes de colunas da linha\n  const rowText = headers // Monta um texto: \"Coluna1: valor | Coluna2: valor...\"\n    .map(key => `${key}: ${item.json[key] || ''}`)\n    .join(' | ');\n  return {\n    json: {\n      content: rowText, // Mudei para content para facilitar o nó seguinte\n      source: fileName,\n      tipo: type\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        432
      ],
      "id": "d4ce3030-209d-4ac2-8076-63a8bfa0a735",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "insert",
        "redisIndex": {
          "__rl": true,
          "value": "urso_conhecimento",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreRedis",
      "typeVersion": 1.3,
      "position": [
        1152,
        432
      ],
      "id": "7cbdaf82-f72d-4187-8a35-43ffc2edfe64",
      "name": "Redis Vector Store",
      "credentials": {
        "redis": {
          "id": "REDACTED_ID",
          "name": "REDACTED_NAME"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1120,
        656
      ],
      "id": "f7b1fb83-be6d-4226-a87e-9ba9962fd9d4",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "REDACTED_ID",
          "name": "REDACTED_NAME"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source",
                "value": "={{ $json.source }}"
              },
              {
                "name": "tipo",
                "value": "={{ $json.tipo }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1248,
        656
      ],
      "id": "acf1358c-29d2-46fe-9820-b7460ab583c7",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {
          "splitCode": "markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1328,
        864
      ],
      "id": "5d9f059a-a71f-4316-9b8a-716e8bb23e0a",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        224,
        416
      ],
      "id": "c876b578-5e51-4a30-b91b-d4c2c1b74fee",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1PjyM7IYa-5NnqSXCTljBNhUq_vfogOB5",
          "mode": "list",
          "cachedResultName": "CRV Imagem",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1PjyM7IYa-5NnqSXCTljBNhUq_vfogOB5"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "adf0a279-bb25-48d6-b3d3-dba58384231b",
      "name": "Google Drive Trigger (Criado)",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1568,
        320
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REDACTED_ID",
          "name": "REDACTED_NAME"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1PjyM7IYa-5NnqSXCTljBNhUq_vfogOB5",
          "mode": "list",
          "cachedResultName": "CRV Imagem",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1PjyM7IYa-5NnqSXCTljBNhUq_vfogOB5"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "5801ae55-1ca8-4f35-8337-ba8b4f1bb988",
      "name": "Google Drive Trigger (Atualizado)",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1568,
        512
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REDACTED_ID",
          "name": "REDACTED_NAME"
        }
      }
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "doc:urso_conhecimento:*",
        "getValues": false
      },
      "id": "ccdaac13-5770-4dff-85e7-56d06e962cf2",
      "name": "Redis (Listar Todas Chaves)",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1120,
        416
      ],
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "REDACTED_ID",
          "name": "REDACTED_NAME"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.key }}",
        "options": {}
      },
      "id": "b158df7f-4b18-490f-84bb-18f53ec288bf",
      "name": "Redis (Ler Conteúdo)",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -448,
        336
      ],
      "credentials": {
        "redis": {
          "id": "REDACTED_ID",
          "name": "REDACTED_NAME"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.propertyName.content }}",
              "value2": "={{ $('Padronizar Dados').item.json.fileName }}"
            }
          ]
        }
      },
      "id": "76b81657-5414-4861-9345-707a055fcea4",
      "name": "Filtro (Mesmo Arquivo)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -224,
        336
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $node[\"Redis (Ler Conteúdo)\"].json.key }}"
      },
      "id": "5da1f611-755f-4f23-bc2c-dd60b5677f7b",
      "name": "Redis (Deletar Antigos)",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        0,
        272
      ],
      "credentials": {
        "redis": {
          "id": "REDACTED_ID",
          "name": "REDACTED_NAME"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Garante que o fluxo continue e nos diga se há algo para limpar\nconst keys = $json.keys || [];\nreturn { \n  keys: keys, \n  count: keys.length \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        416
      ],
      "id": "467f4a54-78c6-4e52-a244-0d2ac8e50e0d",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8553ff30-32bc-4e21-9e9f-9ed757a7d676",
              "name": "fileName",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "e9d53dd5-e387-4387-8a68-cb5311854b69",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "33980d92-7366-4a76-b1c3-1eda6fe3077e",
              "name": "mimeType",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1344,
        416
      ],
      "id": "8ee5fab2-81f6-4829-92ae-2162e4dcd727",
      "name": "Padronizar Dados"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6bea19da-2ac2-49ed-b1dc-4951bb40a541",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -672,
        416
      ],
      "id": "8b1a9e30-c428-4e7b-bac6-a2dd4e9da363",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Pega a lista de chaves e transforma em itens individuais para o n8n\nreturn $input.first().json.keys.map(key => ({ json: { key: key } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        560
      ],
      "id": "94e461dc-194d-4c42-8f4a-57fc6b49e56c",
      "name": "Code in JavaScript1",
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Redis Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Redis Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Redis Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Redis Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger (Criado)": {
      "main": [
        [
          {
            "node": "Padronizar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger (Atualizado)": {
      "main": [
        [
          {
            "node": "Padronizar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis (Listar Todas Chaves)": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis (Ler Conteúdo)": {
      "main": [
        [
          {
            "node": "Filtro (Mesmo Arquivo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro (Mesmo Arquivo)": {
      "main": [
        [
          {
            "node": "Redis (Deletar Antigos)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis (Deletar Antigos)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Padronizar Dados": {
      "main": [
        [
          {
            "node": "Redis (Listar Todas Chaves)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Redis (Ler Conteúdo)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4e176e00-3dbd-4de1-badd-aaebf2adc30b",
  "activeVersionId": null,
  "versionCounter": 341,
  "triggerCount": 2,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-02-20T20:56:41.159Z",
      "createdAt": "2026-02-20T20:56:41.159Z",
      "role": "workflow:owner",
      "workflowId": "Xjl6YkNY4sC1ADoR17uZ1",
      "projectId": "VVxZAAu3tVJ8rPKl",
      "project": {
        "updatedAt": "2026-02-10T23:28:34.397Z",
        "createdAt": "2026-02-10T23:26:00.505Z",
        "id": "VVxZAAu3tVJ8rPKl",
        "name": "Roberto Bezerra <rbezerra18@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "b1c51dbf-a371-4a6f-8d1d-24f1c185b11e"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}