main_flow.json
{
  "name": "main_flow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "0e459a35-7acb-4eec-9d94-413217e97c78",
      "name": "Telegram Trigger",
      "webhookId": "66a6e8b8-a047-40be-b5cb-fc010341328d",
      "credentials": {
        "telegramApi": {
          "id": "dcPVYbemE4uDWZrz",
          "name": "Telegram AI Atendimento"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "499a73d4-ffa0-49de-9119-52c682437ec7",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "2a25d305-1f70-4d9f-af29-1cba598b277c",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        96
      ],
      "id": "31da357b-7194-4e24-aca7-df62efdfead4",
      "name": "Get a file",
      "webhookId": "7ec93c31-751e-4836-85c2-9b89368ca5bd",
      "credentials": {
        "telegramApi": {
          "id": "dcPVYbemE4uDWZrz",
          "name": "Telegram AI Atendimento"
        }
      }
    },
    {
      "parameters": {
        "content": "### Agente Suporte\n- Receber mensagem (texto ou áudio) do Telegram\n- Transcrever o áudio para texto usando Gemini\n- Colocar a mensagem (texto ou áudio transcrito) na variável \"mensagem\"\n- Criar um agente de IA principal, usando Gemini e lembrando das 50 últimas mensagens\n- Criar três subagentes de IA para buscar a resposta para o agente principal:\n-- Agente Suporte\n-- Agente Financeiro\n-- Agente Sucesso do Cliente\n- Enviar uma mensagem de texto com a resposta para o cliente",
        "height": 224,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        -336
      ],
      "typeVersion": 1,
      "id": "d54c49bf-fdc3-437c-b1ce-615b13aedf9b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        624,
        96
      ],
      "id": "a27351a0-a805-4160-9b78-449adf0007de",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "wN3GspTx0Xrmvpkj",
          "name": "Google Gemini(PaLM) Api AI Reembolso"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagem }}",
        "options": {
          "systemMessage": "# Identidade\nVocê é a Sofia, Gerente de Atendimento da Hashtag Capital, um escritório de assessoria de investimentos de alta performance.\n\nSua função é EXCLUSIVAMENTE:\n1. Classificar a intenção do cliente com base na mensagem.\n2. Acionar a ferramenta (especialista) correspondente.\n3. Atuar como um espelho: A ferramenta vai gerar uma resposta. O seu trabalho é pegar essa resposta e entregá-la ao usuário exatamente como ela veio, sem tirar nem por.\n\n# Regra de Ouro (CRÍTICO - Roteador Invisível)\n- NUNCA responda com frases próprias como \"Vou verificar com o setor...\" ou \"Aguarde um momento\".\n- NUNCA narre o que você está fazendo.\n- NUNCA tente resolver o problema sozinho (exceto em saudações simples).\n\nO cliente deve sentir que foi atendido imediatamente pelo especialista da área.\n\n# Seus Especialistas (Tools)\n1. AgenteFinanceiro:\n   - Assuntos: Financeiro, 2ª via de boleto, pagamentos pendentes.\n   - Ação: Use para questões operacionais e burocráticas (pagamentos).\n\n2. AgenteSuporte:\n   - Assuntos: Dúvidas TÉCNICAS e TEÓRICAS de mercado financeiro. \"O que é Selic?\", \"Como funciona FII?\", \"Diferença de CDB e LCI\", etc\n   - Ação: Use para educação financeira, tirar dúvidas de conceitos.\n\n3. AgenteCS:\n   - Assuntos: RELACIONAMENTO e AGENDAMENTO. \"Quero investir\", \"Marcar reunião\", \"Revisar carteira\", \"Falar com assessor\", \"Perfil de investidor\".\n   - Ação: Use quando o cliente demonstra intenção de agir, investir ou quer contato humano.\n\n# Procedimento de Resposta\n1. Saudação (Apenas \"Oi/Olá\"): Se o usuário disser APENAS uma saudação, responda: \"Olá! Sou a Sofia, Gerente de Atendimento da Hashtag Capital. Posso te direcionar pra Assuntos Financeiros, Dúvidas de Mercado (Suporte) ou Agendamento com Assessor. Como posso te ajudar hoje?\"\n\n2. Solicitação Específica: Se o usuário já enviou a dúvida, acione a ferramenta correspondente imediatamente.\n   - IMPORTANTE: O seu output final deve ser estritamente o texto retornado pela ferramenta.\n\n3. Dúvida: Se não souber classificar, chame o `AgenteCS`.\n\n# TRATAMENTO DE ERRO (IMPORTANTE) Se a ferramenta (sub-agente) retornar a mensagem exata `##RESET##`, isso significa que ela não conseguiu resolver o pedido. NESSE CASO, NÃO ENVIE `##RESET##` PARA O USUÁRIO. Em vez disso, assuma o controle e responda: \"Desculpe, poderia explicar melhor sua dúvida?\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1072,
        0
      ],
      "id": "014957bc-f52a-4e54-b489-e7179cc06bb7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f8da6209-565a-4a66-9e3a-fa8d01d0bf1b",
              "name": "mensagem",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        -96
      ],
      "id": "51a4791b-bfb2-4335-abe0-72a193ae4e8f",
      "name": "Mensagem Texto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ebeaa872-9ec7-4103-a683-c0b94ca354e1",
              "name": "mensagem",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        96
      ],
      "id": "4417c1f1-b605-45bb-80fd-91fa830cccb2",
      "name": "Mensagem Áudio"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1168,
        240
      ],
      "id": "3f76eeb1-20cc-42a9-b174-e27d5bf54ab7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1072,
        240
      ],
      "id": "cba9430f-cbb1-47fc-88a4-7db0fc66554e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Cm8DI7lpuNOjkY6C",
          "name": "AI Atendimento"
        }
      }
    },
    {
      "parameters": {
        "description": "Especialista Técnico e Tutor. Use para dúvidas técnicas",
        "workflowId": {
          "__rl": true,
          "value": "YT8k4tIBXj0vNkR_OItGJ",
          "mode": "list",
          "cachedResultUrl": "/workflow/YT8k4tIBXj0vNkR_OItGJ",
          "cachedResultName": "suporte_flow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensagem_main_flow": "={{ $json.mensagem }}",
            "ChatID": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensagem_main_flow",
              "displayName": "mensagem_main_flow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ChatID",
              "displayName": "ChatID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1344,
        176
      ],
      "id": "007f5bdd-5f73-4f05-b333-54c20d0d4bb7",
      "name": "Agente Suporte"
    },
    {
      "parameters": {
        "description": "Especialista em Financeiro. Use para boletos, 2a via, regularização de pagamento.",
        "workflowId": {
          "__rl": true,
          "value": "EP04dwxqEHet33w9",
          "mode": "list",
          "cachedResultUrl": "/workflow/EP04dwxqEHet33w9",
          "cachedResultName": "financeiro_flow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensagem_main_flow": "={{ $json.mensagem }}",
            "ChatID": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensagem_main_flow",
              "displayName": "mensagem_main_flow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "ChatID",
              "displayName": "ChatID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1344,
        320
      ],
      "id": "a2099d99-7fe2-4824-826e-5aa512e17a0e",
      "name": "Agente Financeiro"
    },
    {
      "parameters": {
        "description": "Especialista em Sucesso do Cliente. Use para agendamentos e dúvidas institucionais.",
        "workflowId": {
          "__rl": true,
          "value": "dOdDRQvU3lR1vPZE",
          "mode": "list",
          "cachedResultUrl": "/workflow/dOdDRQvU3lR1vPZE",
          "cachedResultName": "sucesso_flow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ChatID": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "mensagem_main_flow": "={{ $json.mensagem }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensagem_main_flow",
              "displayName": "mensagem_main_flow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "ChatID",
              "displayName": "ChatID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1344,
        464
      ],
      "id": "e7db5c40-6f83-44ef-a2d0-51deb07cfed6",
      "name": "Agente Sucesso"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1424,
        0
      ],
      "id": "476cd26b-fe00-4cf2-8fb7-53ea8defc065",
      "name": "Send a text message",
      "webhookId": "5b788e57-72ab-4574-aa46-53250c4e61b9",
      "credentials": {
        "telegramApi": {
          "id": "dcPVYbemE4uDWZrz",
          "name": "Telegram AI Atendimento"
        }
      }
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 585073865,
          "message": {
            "message_id": 11,
            "from": {
              "id": 379927823,
              "is_bot": false,
              "first_name": "Roberto",
              "last_name": "Júnior",
              "username": "rbezerra18",
              "language_code": "pt-br"
            },
            "chat": {
              "id": 379927823,
              "first_name": "Roberto",
              "last_name": "Júnior",
              "username": "rbezerra18",
              "type": "private"
            },
            "date": 1770249821,
            "text": "Boa noite! Quero tirar dúvidas sobre CDB. É um investimento seguro?"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Mensagem Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Mensagem Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Texto": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Áudio": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente Suporte": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente Financeiro": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente Sucesso": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b4991d0a-508c-4e42-81e8-fb7dace83a44",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a11dca2481091794aff933e363963a7f73f93e7797baa1e2c446e8e94974b9c9"
  },
  "id": "wQ_HkVSG1DZgbG4cpU5OU",
  "tags": []
}