conteudo_linkedin/conteudo_linkedin.json
{
  "updatedAt": "2026-02-22T22:37:54.794Z",
  "createdAt": "2026-02-19T01:31:54.385Z",
  "id": "H56yB9CvWTx6j9UOgIY0E",
  "name": "conteudo_linkedin",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1OAy1n3bR2yNOg4w3ZtNp7YgsXLxYRcoEnO03UGNhV80",
          "mode": "list",
          "cachedResultName": "ConteúdoParaLinkedin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OAy1n3bR2yNOg4w3ZtNp7YgsXLxYRcoEnO03UGNhV80/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1751319910,
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OAy1n3bR2yNOg4w3ZtNp7YgsXLxYRcoEnO03UGNhV80/edit#gid=1751319910"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Pendente"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        0
      ],
      "id": "36653ecc-8cd3-476c-a3d1-ed3a383c8a43",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REDACTED_ID",
          "name": "REDACTED_NAME"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REDACTED"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"Procure na internet sobre: {{ $json.Assunto }}\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 3,\n  \"topic\": \"general\",\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": false,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_favicon\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null,\n  \"auto_parameters\": false,\n  \"include_usage\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        0
      ],
      "id": "5c2d1909-5c89-47eb-93c7-20749a2ce9f4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Artigo 1: {{ $json.results[0].content }}\nArtigo 2: {{ $json.results[1].content }}\nArtigo 3: {{ $json.results[2].content }}",
        "options": {
          "systemMessage": "=Você é um especialista em comunicação estratégica e criação de conteúdo para LinkedIn.\nSua tarefa é analisar os três artigos fornecidos e sintetizar as informações-chave para criar uma postagem cativante, polêmica, objetiva e profissional no LinkedIn.\nO texto deve estar no idioma Português do Brasil, ter um tom inspirador, que desperte a curiosidade e o interesse da audiência, incentivando a reflexão sobre os temas abordados.\nA postagem deve ter no mínimo 3 parágrafos. Concentre-se em extrair os *insights* mais relevantes e transformá-los em uma narrativa que ressoe com profissionais, destacando aprendizados, tendências ou oportunidades que os artigos possam sugerir.\nSua resposta deve ser *apenas* o texto da postagem.\nFinalize a postagem com um incentivo claro para a interação da audiência, pedindo que curtam, salvem, comentem e compartilhem o conteúdo."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        672,
        0
      ],
      "id": "28a31fbb-0bc0-459c-96e8-fe8aaf6a476e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        752,
        224
      ],
      "id": "d88f20d7-d6e8-4caf-bbfb-0691e765efd2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "REDACTED_ID",
          "name": "REDACTED_NAME"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1OAy1n3bR2yNOg4w3ZtNp7YgsXLxYRcoEnO03UGNhV80",
          "mode": "list",
          "cachedResultName": "ConteúdoParaLinkedin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OAy1n3bR2yNOg4w3ZtNp7YgsXLxYRcoEnO03UGNhV80/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1751319910,
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OAy1n3bR2yNOg4w3ZtNp7YgsXLxYRcoEnO03UGNhV80/edit#gid=1751319910"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Assunto": "={{ $('Get row(s) in sheet').item.json.Assunto }}",
            "Status": "Feito",
            "Conteúdo": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Assunto"
          ],
          "schema": [
            {
              "id": "Assunto",
              "displayName": "Assunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Conteúdo",
              "displayName": "Conteúdo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        0
      ],
      "id": "f94991b1-6e15-4b6f-b71c-727193fb3fc7",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REDACTED_ID",
          "name": "REDACTED_NAME"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 3,
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "9c896e4a-991f-4d14-90a2-71db9899e9c5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U06FU6UE6D6",
          "mode": "list",
          "cachedResultName": "rbezerra18"
        },
        "text": "É hora de postar no Linkedin. O conteúdo foi gerado em: https://docs.google.com/spreadsheets/d/1OAy1n3bR2yNOg4w3ZtNp7YgsXLxYRcoEnO03UGNhV80/edit?usp=sharing",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1248,
        0
      ],
      "id": "2e9b29f4-2168-4043-acf4-6e89686c194c",
      "name": "Send a message",
      "webhookId": "33107c27-c851-4561-a45a-321c1b11ff8e",
      "credentials": {
        "slackApi": {
          "id": "REDACTED_ID",
          "name": "REDACTED_NAME"
        }
      }
    }
  ],
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "40cf9268-9e33-48b3-95f5-aa7133c7aae5",
  "activeVersionId": null,
  "versionCounter": 45,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-02-19T01:31:54.419Z",
      "createdAt": "2026-02-19T01:31:54.419Z",
      "role": "workflow:owner",
      "workflowId": "H56yB9CvWTx6j9UOgIY0E",
      "projectId": "VVxZAAu3tVJ8rPKl",
      "project": {
        "updatedAt": "2026-02-10T23:28:34.397Z",
        "createdAt": "2026-02-10T23:26:00.505Z",
        "id": "VVxZAAu3tVJ8rPKl",
        "name": "Roberto Bezerra <rbezerra18@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "b1c51dbf-a371-4a6f-8d1d-24f1c185b11e"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version 40cf9268",
    "description": ""
  }
}