multi_agente_ti/multi_agente_ti.json
{
  "updatedAt": "2026-03-12T21:18:56.054Z",
  "createdAt": "2026-02-24T01:52:35.814Z",
  "id": "rHlxqjjIAPfUleMIjoDsN",
  "name": "multi-agente TI",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "e9cd1dcf-774a-4809-8bea-97c47c1464fb",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "REDACTED_ID",
          "name": "REDACTED_NAME"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d6c0cfd2-2824-492f-8be5-d502f26a7cef",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "37b346b5-09a9-41d4-880c-de0599de5e7d",
              "name": "threadId",
              "value": "={{ $json.threadId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -96
      ],
      "id": "e1d5b4e6-1f0a-49d5-b639-322ed19ce39a",
      "name": "Normalização"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        744,
        128
      ],
      "id": "e304ea1f-9679-43cd-ac38-b3fc48045840",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "REDACTED_ID",
          "name": "REDACTED_NAME"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Comercial",
              "description": "Mensagens com dúvidas sobre planos, preços, formas de pagamento, contratação do serviço, funcionalidades do produto ou benefícios oferecidos.  Palavras-chave: preço, plano, pagamento, contratação, benefício, funcionalidade, venda, comercial, produto"
            },
            {
              "category": "Suporte",
              "description": "Mensagens que envolvem dificuldades técnicas, como erros na ferramenta, mau funcionamento, problemas no uso, solicitações de suporte operacional. Palavras-chave: erro, problema, suporte, falha, bug, uso, curso, técnico, ajuda"
            }
          ]
        },
        "options": {
          "enableAutoFixing": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        672,
        -96
      ],
      "id": "2b7f05a2-a125-4f08-b459-16feeaf68809",
      "name": "Classificador de Email"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LKZKGl3J_AhgkfrxCMbhg",
          "mode": "list",
          "cachedResultUrl": "/workflow/LKZKGl3J_AhgkfrxCMbhg",
          "cachedResultName": "multi-agente Comercial"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1024,
        -192
      ],
      "id": "670bf432-3c3e-4925-996d-56780322e0bd",
      "name": "Call 'multi-agente Comercial'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "s9uNIQDg5o5u3dJe",
          "mode": "list",
          "cachedResultUrl": "/workflow/s9uNIQDg5o5u3dJe",
          "cachedResultName": "multi-agente Suporte"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1024,
        0
      ],
      "id": "4e8c4adc-0b67-4b1d-9990-bc3a3e0a63cc",
      "name": "Call 'multi-agente Suporte"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "reply",
        "threadId": "={{ $('Gmail Trigger').item.json.threadId }}",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1248,
        -96
      ],
      "id": "d819b413-09ab-4939-8a43-55c42b344be7",
      "name": "Reply to a message",
      "webhookId": "f3caeecf-102a-4e52-8c58-829decba2759",
      "credentials": {
        "gmailOAuth2": {
          "id": "REDACTED_ID",
          "name": "REDACTED_NAME"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "538b2bc9-8f86-4cf2-80a6-9102b7c6e1f0",
              "leftValue": "={{ $json.from.value[0].address }}",
              "rightValue": "rbezerra18@gmail.com",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        0
      ],
      "id": "21a40e77-9777-441a-8381-9dc489cc7ac2",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        448,
        96
      ],
      "id": "ac7a939f-58b6-4eec-9e4d-8d1cbf1f7dac",
      "name": "Fim"
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalização": {
      "main": [
        [
          {
            "node": "Classificador de Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classificador de Email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Classificador de Email": {
      "main": [
        [
          {
            "node": "Call 'multi-agente Comercial'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'multi-agente Suporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'multi-agente Comercial'": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'multi-agente Suporte": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Normalização",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b810e84d-9208-43fc-bf0c-5db94c27b00e",
  "activeVersionId": null,
  "versionCounter": 77,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-02-24T01:52:35.866Z",
      "createdAt": "2026-02-24T01:52:35.866Z",
      "role": "workflow:owner",
      "workflowId": "rHlxqjjIAPfUleMIjoDsN",
      "projectId": "VVxZAAu3tVJ8rPKl",
      "project": {
        "updatedAt": "2026-02-10T23:28:34.397Z",
        "createdAt": "2026-02-10T23:26:00.505Z",
        "id": "VVxZAAu3tVJ8rPKl",
        "name": "Roberto Bezerra <rbezerra18@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "b1c51dbf-a371-4a6f-8d1d-24f1c185b11e"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}