Uncategorized/gmail_filtros/gmail_filtros.json
{
  "name": "gmail_filtros",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "0728028e-3c9a-4f3c-9fa5-c2f5ff82631b",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "0Ajt32ptTt05ESkV",
          "name": "Gmail Filtrar E-mails"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.content.parts[0].text }}",
        "categories": {
          "categories": [
            {
              "category": "Alta Prioridade",
              "description": "E-mails que necessitam uma atenção imediata, que envolvem urgências ou problemas no sistema. Palavras e frases comuns: Urgente, problema, necessário ação imediata, problema crítico, emergência, sistema parou, alta prioridade, Favor responder, Urgentemente, pane no sistema."
            },
            {
              "category": "Contas a pagar",
              "description": "E-mails relacionados a pagamentos, faturas, inscrições, cobranças, transações financeiras, contas. Normalmente, esses e-mails contém data de pagamento, prazos, data de vencimento, formas de pagamento.  Palavras/frases comuns: fatura, extrato de cobrança, pagamento em atraso, vencido, renovação, cobrança de multa, aviso de atraso, detalhes de pagamento."
            },
            {
              "category": "Propostas Comerciais",
              "description": "E-mails que contenham propostas de vendas/compras, orçamentos, ofertas de serviços, negociações comerciais ou documentos formais relacionados a oportunidades de negócios. Palavras/Frases Comuns: Proposta comercial, Orçamento, Cotação, Oferta de serviço, Condições comerciais, Negociação, Termos e condições, Envio de proposta, Apresentação de proposta, Solicitação de orçamento, Valor total, Prazo de validade da proposta, Assinatura de contrato, Ajustes na proposta. "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        560,
        -16
      ],
      "id": "935217b5-f6a6-484c-8da5-df0f809d98d4",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Aqui está o e-mail recebido:  {{ $json.snippet }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "systemMessage": "Pegue o e-mail recebido e faça uma limpeza, para que fique mais fácil sua leitura. Por exemplo, retirar os tags de HTML, mas não altere o conteúdo desse e-mail. Não é necessário você incluir o assunto do e-mail."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "7ef3eedd-d41c-4f04-aea1-816553417349",
      "name": "Limpeza de E-mail",
      "credentials": {
        "googlePalmApi": {
          "id": "iEKj1is7VDpkZGmC",
          "name": "Gemini Filtrar E-mail"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        560,
        192
      ],
      "id": "791191f4-7737-4b47-bb26-aaf3708c066d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "iEKj1is7VDpkZGmC",
          "name": "Gemini Filtrar E-mail"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_2583728597438560815"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        912,
        -128
      ],
      "id": "b3a0b27c-68d5-44c4-9b50-ba1055cb70ab",
      "name": "Add label to message",
      "webhookId": "6feb63be-27c8-42fb-be6c-a0ac66cda79e",
      "credentials": {
        "gmailOAuth2": {
          "id": "LC7F7iVvYhepRPzx",
          "name": "Gmail Upwork Job"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_1153172349613001630"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        912,
        0
      ],
      "id": "c30ec6bd-c90b-4806-b212-fd061c9c1ab0",
      "name": "Add label to message1",
      "webhookId": "6feb63be-27c8-42fb-be6c-a0ac66cda79e",
      "credentials": {
        "gmailOAuth2": {
          "id": "0Ajt32ptTt05ESkV",
          "name": "Gmail Filtrar E-mails"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_3388331277135774360"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        912,
        144
      ],
      "id": "ed350fac-8029-432e-ad61-bcf203af16cb",
      "name": "Add label to message2",
      "webhookId": "6feb63be-27c8-42fb-be6c-a0ac66cda79e",
      "credentials": {
        "gmailOAuth2": {
          "id": "0Ajt32ptTt05ESkV",
          "name": "Gmail Filtrar E-mails"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        -128
      ],
      "id": "26b639f8-8fce-4738-80dd-25c3ce08c877",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        0
      ],
      "id": "618ebbdb-2d4f-464f-98aa-b88af21dffec",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        144
      ],
      "id": "a6e88fdb-858d-436f-8631-3ccd9173abce",
      "name": "No Operation, do nothing2"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Limpeza de E-mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpeza de E-mail": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "20fdb547-0953-49fc-bf13-3254f2881295",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5bbbf56f78c08d1febfccb301bed1a9bb3da957af041be5b4f54171bf9af9858"
  },
  "id": "g4xBpT5kScFJNoGg_Qgjd",
  "tags": []
}