conteúdo_instagram/conteúdo_instagram.json
{
  "updatedAt": "2026-02-25T03:09:32.886Z",
  "createdAt": "2026-02-24T23:56:11.564Z",
  "id": "tJ-K64YKGsCBH9Mr1o_pl",
  "name": "conteúdo_instagram",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        124
      ],
      "id": "c6b27f85-82ce-4b38-82b4-0e1e41bbcb87",
      "name": "Telegram Trigger",
      "webhookId": "d3707fdc-ff1c-4182-9ed8-eb57af17fae4",
      "credentials": {
        "telegramApi": {
          "id": "REDACTED_ID",
          "name": "REDACTED_NAME"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        224,
        348
      ],
      "id": "7d2c2a61-f8e0-4a8c-9a81-cfb94fa4815f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "REDACTED_ID",
          "name": "REDACTED_NAME"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=ROLE\nVocê é um estrategista sênior de crescimento orgânico especializado no algoritmo do Instagram e em engenharia de conteúdo viral.\n\nMISSÃO\nGerar exatamente 5 ideias de posts para Instagram a partir de um tema recebido como input.\n\nLÓGICA DE PERFORMANCE (SIMULE INTERNAMENTE)\nCada ideia deve seguir um ângulo diferente de viralização:\n1. Curiosidade ou quebra de expectativa\n2. Erro comum ou mito do mercado\n3. Conteúdo prático passo a passo\n4. Insight pouco conhecido ou segredo\n5. Conteúdo opinativo ou provocativo\n\nOBJETIVO DAS IDEIAS\nMaximizar:\n- retenção nos primeiros segundos\n- salvamentos\n- compartilhamentos\n- comentários\n\nESTRUTURA DE CADA IDEIA\nGerar:\n- \"titulo\": hook curto, direto e altamente chamativo\n- \"subtitulo\": explicação clara em 1–2 frases mostrando o valor do post\n- \"hashtags\": lista de 3 a 5 hashtags específicas e relevantes\n\nREGRAS IMPORTANTES\n- Evite ideias genéricas.\n- Evite repetir estruturas entre as ideias.\n- Priorize clareza e impacto imediato.\n- Pense como creator profissional, não como professor teórico.\n\nFORMATO DE SAÍDA (OBRIGATÓRIO)\nRetorne APENAS um JSON válido:\n\n{\n  \"publicacoes\": [\n    {\n      \"titulo\": \"Título\",\n      \"subtitulo\": \"Subtítulo\",\n      \"hashtags\": [\"#tag1\", \"#tag2\", \"#tag3\"]\n    }\n  ]\n}\n\nRESTRIÇÕES\n- Exatamente 5 publicacoes.\n- Não fazer perguntas.\n- Não adicionar explicações fora do JSON.\n- Não usar emojis.\n- Não usar quebras de linha dentro dos campos.\n- Não alterar nomes das chaves.\n- JSON deve ser totalmente válido."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        344,
        124
      ],
      "id": "fcb503fd-fbf8-4910-8e78-248850d4d28e",
      "name": "Criar Ideias"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        348
      ],
      "id": "5c372a3b-6a3e-4537-a077-2b5d871d6758",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        480,
        348
      ],
      "id": "04a8de87-d2b8-4180-880c-369a405ac066",
      "name": "Think"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"publicacoes\": [\n\t{\n  \t\"titulo\": \"Título 1\",\n  \t\"subtitulo\": \"Subtítulo 1\",\n  \t\"hashtags\": [\"#hashtag1\", \"#hashtag2\", \"#hashtag3\"]\n\t}\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        608,
        348
      ],
      "id": "63a8d86d-847a-472f-a066-98e86111b6e7",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.publicacoes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        816,
        124
      ],
      "id": "e1e39387-c453-421c-86db-5763351376ba",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1040,
        124
      ],
      "id": "4e8a6f63-a978-4c0d-bb61-36ae870d95c4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['0'].titulo }}{{ $json['0'].subtitulo }}",
        "options": {
          "systemMessage": "=ROLE\nVocê é um redator estratégico especialista em crescimento orgânico no Instagram, capaz de adaptar automaticamente o estilo de escrita para maximizar retenção, identificação e engajamento.\n\nMISSÃO\nTransformar uma ideia composta por \"titulo\", \"subtitulo\" e \"hashtags\" em uma legenda completa e natural para Instagram.\n\nANÁLISE INTERNA (NÃO MOSTRAR)\nAntes de escrever, identifique silenciosamente qual é o tipo predominante da ideia:\n- Educativo (ensina algo)\n- Insight/Autoridade (nova perspectiva)\n- Erro comum/Mito (quebra de crença)\n- Storytelling (experiência ou narrativa)\n- Provocativo/Opinativo (gera debate)\n\nAdapte o estilo de escrita conforme o tipo identificado.\n\nMODELO DE ENGAJAMENTO\nConsidere que o leitor está rolando o feed rapidamente. O texto deve:\n- interromper o scroll nas primeiras linhas\n- manter leitura fluida em mobile\n- criar micro-curiosidade entre frases\n- entregar valor progressivamente\n- parecer humano e espontâneo\n\nESTRUTURA OBRIGATÓRIA\nProduza exatamente 3 parágrafos:\n\nPARÁGRAFO 1 — INTERRUPÇÃO DE SCROLL\nAbertura forte baseada no conceito do titulo, criando identificação imediata ou quebra de expectativa.\n\nPARÁGRAFO 2 — DESENVOLVIMENTO ADAPTATIVO\nAprofunde o subtitulo usando exemplos simples, explicações claras ou reflexão prática, conforme o tipo de conteúdo identificado.\n\nPARÁGRAFO 3 — FECHAMENTO NATURAL\nFinalize com insight, mudança de perspectiva ou reflexão que incentive comentários ou salvamentos sem pedido explícito.\n\nREGRAS DE NATURALIDADE\n- Não repetir literalmente o titulo.\n- Evitar tom motivacional genérico.\n- Variar tamanho das frases para simular escrita humana.\n- Evitar excesso de adjetivos.\n- Priorizar clareza e identificação emocional.\n\nUSO DAS HASHTAGS\nServem apenas como contexto e NÃO devem aparecer no texto.\n\nRESTRIÇÕES\n- Não usar emojis.\n- Não usar listas, marcadores ou subtítulos.\n- Não mencionar IA, prompts ou agentes.\n- Não conversar com o usuário.\n- Não adicionar explicações externas.\n\nFORMATO DE SAÍDA\nRetorne somente o texto final em 3 parágrafos contínuos, separados por uma única quebra de linha."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1320,
        0
      ],
      "id": "9345d791-5d39-47d7-9b52-47fe410d8ea9",
      "name": "Criar Publicação"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "frequencyPenalty": 0,
          "presencePenalty": 0,
          "temperature": 0.9,
          "topP": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1264,
        224
      ],
      "id": "6442f136-261a-4a82-90b5-25e7bc6d1b46",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "REDACTED_ID",
          "name": "REDACTED_NAME"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1392,
        224
      ],
      "id": "8ccdc95a-bc54-4c10-8ff9-12dbed548bc9",
      "name": "Simple Memory1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        1520,
        224
      ],
      "id": "40a49d6b-aaf1-444f-b763-ca4e13023b8b",
      "name": "Think1"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=ROLE\nCriar uma imagem ilustrativa para post de Instagram mantendo consistência visual entre diferentes gerações, como se todas fizessem parte da mesma identidade de marca.\n\nOBJETIVO\nGerar uma imagem minimalista, estética e moderna que desperte curiosidade visual sobre o tema fornecido, funcionando como elemento de atração no feed.\n\nIDENTIDADE VISUAL (OBRIGATÓRIA)\nA imagem deve seguir sempre:\n- estilo minimalista premium\n- composição limpa e equilibrada\n- poucos elementos visuais\n- foco central claro\n- estética moderna e sofisticada\n- aparência editorial/design contemporâneo\n\nDIREÇÃO ARTÍSTICA\nBrand visual mood: {{$json.brand_mood}}\n- iluminação suave e difusa\n- profundidade leve\n- cores suaves e harmoniosas\n- contraste moderado\n- sensação calma e profissional\n- aparência refinada, semelhante a capas de revistas modernas ou branding tech\n\nREGRA CRÍTICA — PROIBIÇÃO DE TEXTO\n- NÃO inserir palavras, letras, números ou símbolos tipográficos.\n- NÃO criar títulos, legendas, marcas d’água ou assinaturas.\n- NÃO simular posts com texto.\nA comunicação deve ser exclusivamente visual.\n\nINTERPRETAÇÃO DO CONTEÚDO\nUse apenas como inspiração conceitual e simbólica:\n\nTítulo: {{ $('Loop Over Items').item.json['0'].titulo }}\nSubtítulo: {{ $('Loop Over Items').item.json['0'].subtitulo }}\nConteúdo: {{ $json.output }}\n\nA representação deve ser indireta, conceitual e artística, evitando ilustrações literais.\n\nCONSISTÊNCIA ENTRE POSTS\nA imagem deve parecer parte de uma mesma série visual:\n- mesma linguagem estética\n- mesmo nível de minimalismo\n- mesma sensação emocional\n- evitar mudanças bruscas de estilo\n\nFORMATO\n- proporção 1:1 (quadrado)\n- otimizada para feed do Instagram\n- alta definição\n- acabamento premium",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1952,
        0
      ],
      "id": "cbb103ed-9876-4e82-bd7f-f6b275505b88",
      "name": "Generate an image",
      "credentials": {
        "openAiApi": {
          "id": "REDACTED_ID",
          "name": "REDACTED_NAME"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"brand_mood\": \"minimal tech aesthetic, neutral colors, soft lighting, modern editorial design, clean composition, premium minimal brand style\"\n}",
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1728,
        0
      ],
      "id": "d617faf2-aa6f-4e19-a624-99fe2524fa7c",
      "name": "Branding"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://ddxshlciziugokujpigp.supabase.co/storage/v1/object/novapublicacao/Imagens/{{ $json.fileName }}_{{ $now.toMillis() }}.{{ $json.fileExtension }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REDACTED"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2176,
        0
      ],
      "id": "b6bae1d4-f75f-4bac-8d39-f011379cf59c",
      "name": "Enviar publicacao"
    },
    {
      "parameters": {
        "tableId": "publicacoes",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "titulo",
              "fieldValue": "={{ $('Loop Over Items').item.json['0'].titulo }}"
            },
            {
              "fieldId": "subtitulo",
              "fieldValue": "={{ $('Loop Over Items').item.json['0'].subtitulo }}"
            },
            {
              "fieldId": "conteudo",
              "fieldValue": "={{ $('Criar Publicação').item.json.output }}"
            },
            {
              "fieldId": "hashtags",
              "fieldValue": "={{ $('Loop Over Items').item.json['0'].hashtags }}"
            },
            {
              "fieldId": "url_da_imagem",
              "fieldValue": "=https://ddxshlciziugokujpigp.supabase.co/storage/v1/object/public/{{ $json.Key }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2400,
        0
      ],
      "id": "a00b0636-aea8-44a4-a8fd-99f6b2afc663",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "REDACTED_ID",
          "name": "REDACTED_NAME"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2624,
        124
      ],
      "id": "d5cb4f5d-4642-4932-bf15-eb7855236a0a",
      "name": "Wait",
      "webhookId": "79664136-65dd-49cb-a72d-3035616ff97c"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Criar Ideias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Criar Ideias",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Criar Ideias",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Criar Ideias",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Criar Ideias",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Criar Ideias": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Criar Publicação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Criar Publicação",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Criar Publicação",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Think1": {
      "ai_tool": [
        [
          {
            "node": "Criar Publicação",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Criar Publicação": {
      "main": [
        [
          {
            "node": "Branding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Branding": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Enviar publicacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar publicacao": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f56cb87c-2f4f-4fa7-9fdd-cc99f72e96a3",
  "activeVersionId": null,
  "versionCounter": 145,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-02-24T23:56:11.590Z",
      "createdAt": "2026-02-24T23:56:11.590Z",
      "role": "workflow:owner",
      "workflowId": "tJ-K64YKGsCBH9Mr1o_pl",
      "projectId": "VVxZAAu3tVJ8rPKl",
      "project": {
        "updatedAt": "2026-02-10T23:28:34.397Z",
        "createdAt": "2026-02-10T23:26:00.505Z",
        "id": "VVxZAAu3tVJ8rPKl",
        "name": "Roberto Bezerra <rbezerra18@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "b1c51dbf-a371-4a6f-8d1d-24f1c185b11e"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}